.content__video {
  box-sizing: inherit;
  width: 100%;
  padding: calc(102px - 92px) 0 102px;
  
}

/* @media screen and (max-width: 1279px) {
  .content__video {

  }
}

@media screen and (max-width: 1023px) {
  .content__video {
    
  }
}

@media screen and (max-width: 767px) {
  .content__video {
    
  }
} */