.footer__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    padding-bottom: 48px;
  }
}