body {
  top: 0 !important;
}

.skiptranslate {
  display: none;
  height: 0;
}

.language__img {
  cursor: pointer;
  margin-right: 10px;
}

.language__img:last-of-type {
  cursor: pointer;
  margin-right: 0;
}