.cover__background {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  aspect-ratio: 8 / 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center / contain url("../../../images/cover-trains.jpg");
  position: relative;
}

.cover__background::after {
  content: "";
  background: #2A2C2F;
  opacity: .3;
  transition: opacity .3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover__background:hover::after {
  opacity: .8;
}
